.banner {
    background-color: $white;

    &_content {
        @extend %center_block;
        
        align-items: center;
        max-width: 1020px;
        padding: 100px 20px;
    }
    
    &_list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        width: 102.040816%;
    }

    &_item {
        margin-right: 2%;
        margin-top: -3.3%;
        width: 18%;
        padding-bottom: 20.6%;
        height: 0;

        &:hover {
            transform: scale(1.1);
        }

        &:first-child {
            margin-left: 10.2040816%;
        }

        &:nth-child(10n) {
            margin-left: 10.2040816%;
        }
    }


    &_img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;

        &_wrap {
            position: relative;
            padding-bottom: 114.4444444%;
            overflow: hidden;
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        }
    }

}