// WIDTH
$base_width: 820px;
$max_width: 1020px;
// FONTS
$base_font_size: 10px;
// COLORS
$white: #ffffff;
$text_color_white: #ffffff;
$text_color_green1: #2eb398; //link:hover
$text_color_green2: #20816d; //designer subtitle
$text_color_gray1: #d7fcf5; //designer title
$text_color_gray2: #e0e0e0;//contact text
$text_color_gray3: #bebebe;//input text
$text_color_black1: #3c3c3c; //footer text
$bckgrn_black1: #323232; //nav, form
$bckgrn_black2: #222222; //footer
$bckgrn_black3: #454545; //input type="text"
$bckgrn_green: #2eb398; //designer
$facebook: #3660a0;
$twitter: #2daae1;
$google: #dc5443;
$pinterest: #cb2027;
$linkedin: #096c9b;
$dribbble: #f0568f;